<div class="row" [ngStyle]="{ 'height': colHeight, 'max-height': colHeight }">
  <ng-template ngFor let-pictureItem [ngForOf]="_pictureItems" let-i="index">
    <div class="col pictureWrapper" [ngClass]="colWidth">
      <img class="picture"
           [src]="pictureItem.thumb ? pictureItem.thumb : pictureItem.src"
           (click)="openDialog(pictureItem)" [alt]="pictureItem.alt">
      <div>
        <gallery-item-description-body
          *ngIf="pictureItem.descriptionItem"
          [content]="pictureItem.descriptionItem.content">
        </gallery-item-description-body>
      </div>
    </div>
  </ng-template>
</div>
