<ng-dialog-container [dialogRef]="dialogRef" [loading]="false">
  <ng-dialog-header-left>
    Title
  </ng-dialog-header-left>
  <ng-dialog-header-right>
    actions
  </ng-dialog-header-right>
  <ng-dialog-sidebar>
    <ul>
      <li>Option 1</li>
      <li>Option 2</li>
    </ul>
  </ng-dialog-sidebar>
  <ng-dialog-content>
    Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus, fusce
    vel in pellentesque. Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante nam et sagittis, tristique vehicula nibh
    ipsum vivamus, proin proin. Porta commodo nibh quis libero amet. Taciti dui, sapien
    consectetuer.
    ntesque. Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante namntesque. Nisl rutrum etiam morbi consectetuer tempor
    magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante namntesque. Nisl rutrum etiam morbi consectetuer tempor
    magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante namntesque. Nisl rutrum etiam morbi consectetuer tempor
    magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante namntesque. Nisl rutrum etiam morbi consectetuer tempor
    magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante namntesque. Nisl rutrum etiam morbi consectetuer tempor
    magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante namntesque. Nisl rutrum etiam morbi consectetuer tempor
    magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante namntesque. Nisl rutrum etiam morbi consectetuer tempor
    magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante namntesque. Nisl rutrum etiam morbi consectetuer tempor
    magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante namntesque. Nisl rutrum etiam morbi consectetuer tempor
    magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante namntesque. Nisl rutrum etiam morbi consectetuer tempor
    magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante namntesque. Nisl rutrum etiam morbi consectetuer tempor
    magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante namntesque. Nisl rutrum etiam morbi consectetuer tempor
    magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante namntesque. Nisl rutrum etiam morbi consectetuer tempor
    magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante namntesque. Nisl rutrum etiam morbi consectetuer tempor
    magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante nam
    erat nulla in aenean lacinia ullamcorper, urna ante namntesque. Nisl rutrum etiam morbi consectetuer tempor
    magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante namntesque. Nisl rutrum etiam morbi consectetuer tempor
    magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante namntesque. Nisl rutrum etiam morbi consectetuer tempor
    magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fring
    erat nulla in aenean lacinia ullamcorper, urna ante namntesque. Nisl rutrum etiam morbi consectetuer tempor
    magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante namntesque. Nisl rutrum etiam morbi consectetuer tempor
    magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
    erat nulla in aenean lacinia ullamcorper, urna ante namntesque. Nisl rutrum etiam morbi consectetuer tempor
    magna, aenean nullam nunc id,
    neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
    Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
    cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
    sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fring
  </ng-dialog-content>
  <ng-dialog-footer-left>
    Actions left
  </ng-dialog-footer-left>
  <ng-dialog-footer-right>
    Actions right
  </ng-dialog-footer-right>
</ng-dialog-container>
