<gallery-container>
  <gallery-item
    src="assets/img/buildings-2297210_960_720.jpg"
    thumb="assets/img/buildings-2297210__340.jpg"
    alt="">
    <gallery-item-description>
      <div>Buildings</div>
    </gallery-item-description>
  </gallery-item>
  <gallery-item
    src="assets/img/meadow-2235625_960_720.jpg"
    thumb="assets/img/meadow-2235625__340.jpg"
    alt="">
    <gallery-item-description>
      <div>Meadow</div>
    </gallery-item-description>
  </gallery-item>
</gallery-container>
