md-sidenav-layout.m2app-dark {
  background: black;
}

.app-content {
  padding: 20px;
}

.app-content md-card {
  margin: 20px;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.side-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-button {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  line-height: 45px !important;
  vertical-align: middle;
  text-align: center;
  background-color: #ccc;
  color: grey;
}

.sidebar-list-item {
  border-bottom: 1px solid;
  margin: 0;
  padding: 0;
  border-color: rgba(0, 0, 0, .06);
  color: rgba(0,0,0,.54) !important;
  cursor: pointer;
}

.sidebar-header {
  background: rgba(0, 0, 0, .32);
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sidebar-title {
  border: none;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0 16px;
}
.navbar-link {
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 47px;
  text-decoration: none;
  transition: all .3s;
  padding: 0 16px;
  position: relative;
  color: inherit;
  font-weight: inherit;
}

.sidebar-list-item:hover {
  background-color: rgba(0,0,0,.04) !important;
  color: #3f51b5 !important;
}
.sidebar-list-item-active {
  background-color: rgba(0,0,0,.04) !important;
  color: #3f51b5 !important;
  font-weight: bold;
}
.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
