<style>


</style>
<md-toolbar color="primary" class="navbar">
  <button class="app-icon-button" (click)="sidenav.toggle()">
    <i class="material-icons app-toolbar-menu">menu</i>
  </button>

  <a routerLink="/" class="valign-wrapper" style="text-decoration: none; color: white;">
    App
  </a>

  <span class="app-toolbar-filler"></span>

  <button md-icon-button [mdMenuTriggerFor]="menu"
          class="side-button">
    <md-icon
      class="menu-button">
      person
    </md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item>
      <md-icon>person</md-icon>
      <span>Profile</span>
    </button>
    <button md-menu-item (click)="logout()">
      <md-icon>directions</md-icon>
      <span>Logout</span>
    </button>
  </md-menu>
</md-toolbar>
<md-sidenav-container fullscreen style="top: 64px !important;">

  <md-sidenav mode="side" opened="true" #sidenav class="example-sidenav"
              style="width: 240px; box-shadow: 3px 0 6px rgba(0,0,0,.24);">
    <md-list>
      <h3 md-subheader class="sidebar-header">Home</h3>
      <md-list-item routerLink="/home" routerLinkActive="sidebar-list-item-active" class="sidebar-list-item">
        <a class="navbar-link">Dashboard</a>
      </md-list-item>
      <md-divider></md-divider>
      <h3 class="sidebar-header" md-subheader>Components</h3>
      <md-list-item class="sidebar-list-item" routerLink="/gallery" routerLinkActive="sidebar-list-item-active">
        <a class="navbar-link">Gallery</a>
      </md-list-item>
      <md-list-item  routerLink="/dialog" routerLinkActive="sidebar-list-item-active" class="sidebar-list-item">
        <a class="navbar-link">Dialog</a>
      </md-list-item>
      <md-list-item routerLink="buttons" routerLinkActive="sidebar-list-item-active" class="sidebar-list-item">
        <a class="navbar-link">Buttons</a>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <div style="padding: 20px;">
    <router-outlet></router-outlet>
    <router-outlet name="popup"></router-outlet>
  </div>

</md-sidenav-container>
