
.sidebar-header {
  background: rgba(0, 0, 0, .32);
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sidebar-title {
  border: none;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0 16px;
}


.sidebar-list-item {
  border-bottom: 1px solid;
  margin: 0;
  padding: 0;
  border-color: rgba(0, 0, 0, .06);
  color: rgba(0, 0, 0, .54) !important;
  cursor: pointer;
}

.navbar-link {
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 47px;
  text-decoration: none;
  transition: all .3s;
  padding: 0 16px;
  position: relative;
  color: inherit;
  font-weight: inherit;
}

.sidebar-list-item:hover {
  background-color: rgba(0, 0, 0, .04) !important;
  color: #3f51b5 !important;
}

.sidebar-list-item-active {
  background-color: rgba(0, 0, 0, .04) !important;
  color: #3f51b5 !important;
  font-weight: bold;
}
