<h3 md-subheader class="sidebar-header sidebar-title">Home</h3>
<md-list style="padding-top: 0;">
  <md-list-item routerLink="dashboard" routerLinkActive="sidebar-list-item-active" class="sidebar-list-item">
    <a class="navbar-link">Dashboard</a>
  </md-list-item>
</md-list>
<md-divider></md-divider>
<h3 class="sidebar-header sidebar-title" md-subheader>Components</h3>
<md-list style="padding-top: 0;">
  <md-list-item class="sidebar-list-item" routerLink="forms" routerLinkActive="sidebar-list-item-active">
    <a class="navbar-link">Forms</a>
  </md-list-item>
</md-list>
